<div class="film">
  <div class="divImg">
    <img [src]="movie.urlImage" alt="{{ movie.titre }}image" />
  </div>
  <div class="text">
    <div>
      <h2>{{ movie.titre | titlecase }}</h2>
      <p>{{ movie.description }}</p>
    </div>
    <div class="flex">
      <span [ngClass]="{ coeur: movie.clicked }" (click)="like()">
        <i class="fa-regular fa-heart"></i>
      </span>
      <p>{{ movie.likes }} likes</p>
      <span (click)="remove()" [ngStyle]="{ 'font-size': '30px' }"
        ><i class="fa-solid fa-trash" style="color: #000000"></i
      ></span>
    </div>
    <p class="price">{{ movie.price | currency:'$'}}</p>
  </div>
</div>
